openapi: 3.2.0
info:
  title: Vice Media Wp/v2 API
  version: wp/v2
  contact:
    name: VICE Media security / responsible disclosure
    email: infosec@vice.com
    url: https://www.vice.com/en/vice-responsible-disclosure-policy/
  termsOfService: https://www.vice.com/en/terms/
  x-apievangelist-method: derived
  x-refined-note:
  - x-derived-from differs across the merged source definitions and was not carried
  x-derived-on: '2026-09-04'
  description: 'Operations tagged wp/v2 across 2 of this provider''s published API definitions: vice-media-video-wp-rest-openapi.yml, vice-media-wp-rest-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://video.vice.com
  description: Production
- url: https://www.vice.com
  description: Production
tags:
- name: wp/v2
  description: WordPress core content API — posts, pages, media, custom post types (sections, profiles, products), taxonomies (categories, tags, bylines, brands, platform languages), search, types, statuses and settings.
paths:
  /wp/v2:
    get:
      operationId: get_wp_v2
      summary: GET /wp/v2
      description: '`GET` on the WordPress REST route `/wp/v2` in namespace `wp/v2`, as declared by the live route-discovery document at https://video.vice.com/wp-json/.'
      tags:
      - wp/v2
      parameters:
      - name: namespace
        in: query
        required: false
        schema:
          default: wp/v2
      - name: context
        in: query
        required: false
        schema:
          default: view
      responses:
        '200':
          description: Success. WordPress returns the requested resource or collection as JSON.
          content:
            application/json:
              schema: {}
        '401':
          description: Not authenticated or not permitted. WordPress returns its standard error envelope, e.g. `{"code":"rest_forbidden","message":"Sorry, you are not allowed to do that.","data":{"status":401}}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    servers:
    - url: https://video.vice.com
      description: Production
  /wp/v2/activity-log-events:
    get:
      operationId: get_wp_v2_activity_log_events
      summary: GET /wp/v2/activity-log-events
      description: '`GET` on the WordPress REST route `/wp/v2/activity-log-events` in namespace `wp/v2`, as declared by the live route-discovery document at https://video.vice.com/wp-json/.'
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published after a given ISO8601 compliant date.
      - name: modified_after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified after a given ISO8601 compliant date.
      - name: before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published before a given ISO8601 compliant date.
      - name: modified_before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified before a given ISO8601 compliant date.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: search_semantics
        in: query
        required: false
        schema:
          type: string
          enum:
          - exact
        description: How to interpret the search input.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
        description: Sort collection by post attribute.
      - name: search_columns
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
        description: Array of column names to be searched.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to posts with one or more specific slugs.
      - name: status
        in: query
        required: false
        schema:
          type: array
          default: publish
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - dp-rewrite-republish
            - wp_stream_enabled
            - wp_stream_disabled
            - any
        description: Limit result set to posts assigned one or more statuses.
      responses:
        '200':
          description: Success. WordPress returns the requested resource or collection as JSON.
          content:
            application/json:
              schema: {}
        '401':
          description: Not authenticated or not permitted. WordPress returns its standard error envelope, e.g. `{"code":"rest_forbidden","message":"Sorry, you are not allowed to do that.","data":{"status":401}}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: post_wp_v2_activity_log_events
      summary: POST /wp/v2/activity-log-events
      description: '`POST` on the WordPress REST route `/wp/v2/activity-log-events` in namespace `wp/v2`, as declared by the live route-discovery document at https://video.vice.com/wp-json/.'
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - wp_stream_enabled
                  - wp_stream_disabled
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  properties:
                    raw:
                      type: string
                    rendered:
                      type: string
                  description: The title for the post.
                content:
                  type: object
                  properties:
                    raw:
                      type: string
                    rendered:
                      type: string
                    block_version:
                      type: integer
                    protected:
                      type: boolean
                  description: The content for the post.
                template:
                  type: string
                  description: The theme file to use to display the post.
      responses:
        '200':
          description: Success. WordPress returns the requested resource or collection as JSON.
          content:
            application/json:
              schema: {}
        '401':
          description: Not authenticated or not permitted. WordPress returns its standard error envelope, e.g. `{"code":"rest_forbidden","message":"Sorry, you are not allowed to do that.","data":{"status":401}}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    servers:
    - url: https://video.vice.com
      description: Production
  /wp/v2/activity-log-events/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: Path segment matched by the WordPress route pattern `[\d]+`.
      schema:
        type: string
        pattern: '[\d]+'
    get:
      operationId: get_wp_v2_activity_log_events_by_id
      summary: GET /wp/v2/activity-log-events/(?P[\d]+)
      description: '`GET` on the WordPress REST route `/wp/v2/activity-log-events/(?P[\d]+)` in namespace `wp/v2`, as declared by the live route-discovery document at https://video.vice.com/wp-json/.'
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: password
        in: query
        required: false
        schema:
          type: string
        description: The password for the post if it is password protected.
      responses:
        '200':
          description: Success. WordPress returns the requested resource or collection as JSON.
          content:
            application/json:
              schema: {}
        '401':
          description: Not authenticated or not permitted. WordPress returns its standard error envelope, e.g. `{"code":"rest_forbidden","message":"Sorry, you are not allowed to do that.","data":{"status":401}}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: post_wp_v2_activity_log_events_by_id
      summary: POST /wp/v2/activity-log-events/(?P[\d]+)
      description: '`POST` on the WordPress REST route `/wp/v2/activity-log-events/(?P[\d]+)` in namespace `wp/v2`, as declared by the live route-discovery document at https://video.vice.com/wp-json/.'
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - wp_stream_enabled
                  - wp_stream_disabled
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  properties:
                    raw:
                      type: string
                    rendered:
                      type: string
                  description: The title for the post.
                content:
                  type: object
                  properties:
                    raw:
                      type: string
                    rendered:
                      type: string
                    block_version:
                      type: integer
                    protected:
                      type: boolean
                  description: The content for the post.
                template:
                  type: string
                  description: The theme file to use to display the post.
      responses:
        '200':
          description: Success. WordPress returns the requested resource or collection as JSON.
          content:
            application/json:
              schema: {}
        '401':
          description: Not authenticated or not permitted. WordPress returns its standard error envelope, e.g. `{"code":"rest_forbidden","message":"Sorry, you are not allowed to do that.","data":{"status":401}}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    put:
      operationId: put_wp_v2_activity_log_events_by_id
      summary: PUT /wp/v2/activity-log-events/(?P[\d]+)
      description: '`PUT` on the WordPress REST route `/wp/v2/activity-log-events/(?P[\d]+)` in namespace `wp/v2`, as declared by the live route-discovery document at https://video.vice.com/wp-json/.'
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - wp_stream_enabled
                  - wp_stream_disabled
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  properties:
                    raw:
                      type: string
                    rendered:
                      type: string
                  description: The title for the post.
                content:
                  type: object
                  properties:
                    raw:
                      type: string
                    rendered:
                      type: string
                    block_version:
                      type: integer
                    protected:
                      type: boolean
                  description: The content for the post.
                template:
                  type: string
                  description: The theme file to use to display the post.
      responses:
        '200':
          description: Success. WordPress returns the requested resource or collection as JSON.
          content:
            application/json:
              schema: {}
        '401':
          description: Not authenticated or not permitted. WordPress returns its standard error envelope, e.g. `{"code":"rest_forbidden","message":"Sorry, you are not allowed to do that.","data":{"status":401}}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    patch:
      operationId: patch_wp_v2_activity_log_events_by_id
      summary: PATCH /wp/v2/activity-log-events/(?P[\d]+)
      description: '`PATCH` on the WordPress REST route `/wp/v2/activity-log-events/(?P[\d]+)` in namespace `wp/v2`, as declared by the live route-discovery document at https://video.vice.com/wp-json/.'
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - wp_stream_enabled
                  - wp_stream_disabled
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  properties:
                    raw:
                      type: string
                    rendered:
                      type: string
                  description: The title for the post.
                content:
                  type: object
                  properties:
                    raw:
                      type: string
                    rendered:
                      type: string
                    block_version:
                      type: integer
                    protected:
                      type: boolean
                  description: The content for the post.
                template:
                  type: string
                  description: The theme file to use to display the post.
      responses:
        '200':
          description: Success. WordPress returns the requested resource or collection as JSON.
          content:
            application/json:
              schema: {}
        '401':
          description: Not authenticated or not permitted. WordPress returns its standard error envelope, e.g. `{"code":"rest_forbidden","message":"Sorry, you are not allowed to do that.","data":{"status":401}}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    delete:
      operationId: delete_wp_v2_activity_log_events_by_id
      summary: DELETE /wp/v2/activity-log-events/(?P[\d]+)
      description: '`DELETE` on the WordPress REST route `/wp/v2/activity-log-events/(?P[\d]+)` in namespace `wp/v2`, as declared by the live route-discovery document at https://video.vice.com/wp-json/.'
      tags:
      - wp/v2
      parameters:
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Whether to bypass Trash and force deletion.
      responses:
        '200':
          description: Success. WordPress returns the requested resource or collection as JSON.
          content:
            application/json:
              schema: {}
        '401':
          description: Not authenticated or not permitted. WordPress returns its standard error envelope, e.g. `{"code":"rest_forbidden","message":"Sorry, you are not allowed to do that.","data":{"status":401}}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    servers:
    - url: https://video.vice.com
      description: Production
  /wp/v2/activity-log-events/{id}/autosaves:
    parameters:
    - name: id
      in: path
      required: true
      description: Path segment matched by the WordPress route pattern `[\d]+`.
      schema:
        type: string
        pattern: '[\d]+'
    get:
      operationId: get_wp_v2_activity_log_events_by_id_autosaves
      summary: GET /wp/v2/activity-log-events/(?P[\d]+)/autosaves
      description: '`GET` on the WordPress REST route `/wp/v2/activity-log-events/(?P[\d]+)/autosaves` in namespace `wp/v2`, as declared by the live route-discovery document at https://video.vice.com/wp-json/.'
      tags:
      - wp/v2
      parameters:
      - name: parent
        in: query
        required: false
        schema:
          type: integer
        description: The ID for the parent of the autosave.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Success. WordPress returns the requested resource or collection as JSON.
          content:
            application/json:
              schema: {}
        '401':
          description: Not authenticated or not permitted. WordPress returns its standard error envelope, e.g. `{"code":"rest_forbidden","message":"Sorry, you are not allowed to do that.","data":{"status":401}}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: post_wp_v2_activity_log_events_by_id_autosaves
      summary: POST /wp/v2/activity-log-events/(?P[\d]+)/autosaves
      description: '`POST` on the WordPress REST route `/wp/v2/activity-log-events/(?P[\d]+)/autosaves` in namespace `wp/v2`, as declared by the live route-discovery document at https://video.vice.com/wp-json/.'
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                parent:
                  type: integer
                  description: The ID for the parent of the autosave.
                date:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - wp_stream_enabled
                  - wp_stream_disabled
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  properties:
                    raw:
                      type: string
                    rendered:
                      type: string
                  description: The title for the post.
                content:
                  type: object
                  properties:
                    raw:
                      type: string
                    rendered:
                      type: string
                    block_version:
                      type: integer
                    protected:
                      type: boolean
                  description: The content for the post.
                template:
                  type: string
                  description: The theme file to use to display the post.
      responses:
        '200':
          description: Success. WordPress returns the requested resource or collection as JSON.
          content:
            application/json:
              schema: {}
        '401':
          description: Not authenticated or not permitted. WordPress returns its standard error envelope, e.g. `{"code":"rest_forbidden","message":"Sorry, you are not allowed to do that.","data":{"status":401}}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    servers:
    - url: https://video.vice.com
      description: Production
  /wp/v2/activity-log-events/{parent}/autosaves/{id}:
    parameters:
    - name: parent
      in: path
      required: true
      description: Path segment matched by the WordPress route pattern `[\d]+`.
      schema:
        type: string
        pattern: '[\d]+'
    - name: id
      in: path
      required: true
      description: Path segment matched by the WordPress route pattern `[\d]+`.
      schema:
        type: string
        pattern: '[\d]+'
    get:
      operationId: get_wp_v2_activity_log_events_by_parent_autosaves_by_id
      summary: GET /wp/v2/activity-log-events/(?P[\d]+)/autosaves/(?P[\d]+)
      description: '`GET` on the WordPress REST route `/wp/v2/activity-log-events/(?P[\d]+)/autosaves/(?P[\d]+)` in namespace `wp/v2`, as declared by the live route-discovery document at https://video.vice.com/wp-json/.'
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Success. WordPress returns the requested resource or collection as JSON.
          content:
            application/json:
              schema: {}
        '401':
          description: Not authenticated or not permitted. WordPress returns its standard error envelope, e.g. `{"code":"rest_forbidden","message":"Sorry, you are not allowed to do that.","data":{"status":401}}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    servers:
    - url: https://video.vice.com
      description: Production
  /wp/v2/block-directory/search:
    get:
      operationId: get_wp_v2_block_directory_search
      summary: GET /wp/v2/block-directory/search
      description: '`GET` on the WordPress REST route `/wp/v2/block-directory/search` in namespace `wp/v2`, as declared by the live route-discovery document at https://video.vice.com/wp-json/.'
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: term
        in: query
        required: true
        schema:
          type: string
        description: Limit result set to blocks matching the search term.
      responses:
        '200':
          description: Success. WordPress returns the requested resource or collection as JSON.
          content:
            application/json:
              schema: {}
        '401':
          description: Not authenticated or not permitted. WordPress returns its standard error envelope, e.g. `{"code":"rest_forbidden","message":"Sorry, you are not allowed to do that.","data":{"status":401}}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    servers:
    - url: https://video.vice.com
      description: Production
  /wp/v2/block-patterns/categories:
    get:
      operationId: get_wp_v2_block_patterns_categories
      summary: GET /wp/v2/block-patterns/categories
      description: '`GET` on the WordPress REST route `/wp/v2/block-patterns/categories` in namespace `wp/v2`, as declared by the live route-discovery document at https://video.vice.com/wp-json/.'
      tags:
      - wp/v2
      responses:
        '200':
          description: Success. WordPress returns the requested resource or collection as JSON.
          content:
            application/json:
              schema: {}
        '401':
          description: Not authenticated or not permitted. WordPress returns its standard error envelope, e.g. `{"code":"rest_forbidden","message":"Sorry, you are not allowed to do that.","data":{"status":401}}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    servers:
    - url: https://video.vice.com
      description: Production
  /wp/v2/block-patterns/patterns:
    get:
      operationId: get_wp_v2_block_patterns_patterns
      summary: GET /wp/v2/block-patterns/patterns
      description: '`GET` on the WordPress REST route `/wp/v2/block-patterns/patterns` in namespace `wp/v2`, as declared by the live route-discovery document at https://video.vice.com/wp-json/.'
      tags:
      - wp/v2
      responses:
        '200':
          description: Success. WordPress returns the requested resource or collection as JSON.
          content:
            application/json:
              schema: {}
        '401':
          description: Not authenticated or not permitted. WordPress returns its standard error envelope, e.g. `{"code":"rest_forbidden","message":"Sorry, you are not allowed to do that.","data":{"status":401}}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    servers:
    - url: https://video.vice.com
      description: Production
  /wp/v2/block-renderer/{name}:
    parameters:
    - name: name
      in: path
      required: true
      description: Path segment matched by the WordPress route pattern `[a-z0-9-]+/[a-z0-9-]+`.
      schema:
        type: string
        pattern: '[a-z0-9-]+/[a-z0-9-]+'
    get:
      operationId: get_wp_v2_block_renderer_by_name
      summary: GET /wp/v2/block-renderer/(?P[a-z0-9-]+/[a-z0-9-]+)
      description: '`GET` on the WordPress REST route `/wp/v2/block-renderer/(?P[a-z0-9-]+/[a-z0-9-]+)` in namespace `wp/v2`, as declared by the live route-discovery document at https://video.vice.com/wp-json/.'
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: attributes
        in: query
        required: false
        schema:
          type: object
          default: []
        description: Attributes for the block.
      - name: post_id
        in: query
        required: false
        schema:
          type: integer
        description: ID of the post context.
      responses:
        '200':
          description: Success. WordPress returns the requested resource or collection as JSON.
          content:
            application/json:
              schema: {}
        '401':
          description: Not authenticated or not permitted. WordPress returns its standard error envelope, e.g. `{"code":"rest_forbidden","message":"Sorry, you are not allowed to do that.","data":{"status":401}}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: post_wp_v2_block_renderer_by_name
      summary: POST /wp/v2/block-renderer/(?P[a-z0-9-]+/[a-z0-9-]+)
      description: '`POST` on the WordPress REST route `/wp/v2/block-renderer/(?P[a-z0-9-]+/[a-z0-9-]+)` in namespace `wp/v2`, as declared by the live route-discovery document at https://video.vice.com/wp-json/.'
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  type: string
                  enum:
                  - edit
                  default: view
                  description: Scope under which the request is made; determines fields present in response.
                attributes:
                  type: object
                  default: []
                  description: Attributes for the block.
                post_id:
                  type: integer
                  description: ID of the post context.
      responses:
        '200':
          description: Success. WordPress returns the requested resource or collection as JSON.
          content:
            application/json:
              schema: {}
        '401':
          description: Not authenticated or not permitted. WordPress returns its standard error envelope, e.g. `{"code":"rest_forbidden","message":"Sorry, you are not allowed to do that.","data":{"status":401}}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    servers:
    - url: https://video.vice.com
      description: Production
  /wp/v2/block-types:
    get:
      operationId: get_wp_v2_block_types
      summary: GET /wp/v2/block-types
      description: '`GET` on the WordPress REST route `/wp/v2/block-types` in namespace `wp/v2`, as declared by the live route-discovery document at https://video.vice.com/wp-json/.'
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: namespace
        in: query
        required: false
        schema:
          type: string
        description: Block namespace.
      responses:
        '200':
          description: Success. WordPress returns the requested resource or collection as JSON.
          content:
            application/json:
              schema: {}
        '401':
          description: Not authenticated or not permitted. WordPress returns its standard error envelope, e.g. `{"code":"rest_forbidden","message":"Sorry, you are not allowed to do that.","data":{"status":401}}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    servers:
    - url: https://video.vice.com
      description: Production
  /wp/v2/block-types/{namespace}:
    parameters:
    - name: namespace
      in: path
      required: true
      description: Path segment matched by the WordPress route pattern `[a-zA-Z0-9_-]+`.
      schema:
        type: string
        pattern: '[a-zA-Z0-9_-]+'
    get:
      operationId: get_wp_v2_block_types_by_namespace
      summary: GET /wp/v2/block-types/(?P[a-zA-Z0-9_-]+)
      description: '`GET` on the WordPress REST route `/wp/v2/block-types/(?P[a-zA-Z0-9_-]+)` in namespace `wp/v2`, as declared by the live route-discovery document at https://video.vice.com/wp-json/.'
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Success. WordPress returns the requested resource or collection as JSON.
          content:
            application/json:
              schema: {}
        '401':
          description: Not authenticated or not permitted. WordPress returns its standard error envelope, e.g. `{"code":"rest_forbidden","message":"Sorry, you are not allowed to do that.","data":{"status":401}}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    servers:
    - url: https://video.vice.com
      description: Production
  /wp/v2/block-types/{namespace}/{name}:
    parameters:
    - name: namespace
      in: path
      required: true
      description: Path segment matched by the WordPress route pattern `[a-zA-Z0-9_-]+`.
      schema:
        type: string
        pattern: '[a-zA-Z0-9_-]+'
    - name: name
      in: path
      required: true
      description: Path segment matched by the WordPress route pattern `[a-zA-Z0-9_-]+`.
      schema:
        type: string
        pattern: '[a-zA-Z0-9_-]+'
    get:
      operationId: get_wp_v2_block_types_by_namespace_by_name
      summary: GET /wp/v2/block-types/(?P[a-zA-Z0-9_-]+)/(?P[a-zA-Z0-9_-]+)
      description: '`GET` on the WordPress REST route `/wp/v2/block-types/(?P[a-zA-Z0-9_-]+)/(?P[a-zA-Z0-9_-]+)` in namespace `wp/v2`, as declared by the live route-discovery document at https://video.vice.com/wp-json/.'
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Success. WordPress returns the requested resource or collection as JSON.
          content:
            application/json:
              schema: {}
        '401':
          description: Not authenticated or not permitted. WordPress returns its standard error envelope, e.g. `{"code":"rest_forbidden","message":"Sorry, you are not allowed to do that.","data":{"status":401}}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    servers:
    - url: https://video.vice.com
      description: Production
  /wp/v2/blocks:
    get:
      operationId: get_wp_v2_blocks
      summary: GET /wp/v2/blocks
      description: '`GET` on the WordPress REST route `/wp/v2/blocks` in namespace `wp/v2`, as declared by the live route-discovery document at https://video.vice.com/wp-json/.'
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published after a given ISO8601 compliant date.
      - name: modified_after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified after a given ISO8601 compliant date.
      - name: before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published before a given ISO8601 compliant date.
      - name: modified_before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified before a given ISO8601 compliant date.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: search_semantics
        in: query
        required: false
        schema:
          type: string
          enum:
          - exact
        description: How to interpret the search input.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
        description: Sort collection by post attribute.
      - name: search_columns
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
        description: Array of column names to be searched.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to posts with one or more specific slugs.
      - name: status
        in: query
        required: false
        schema:
          type: array
          default: publish
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - dp-rewrite-republish
            - wp_stream_enabled
            - wp_stream_disabled
            - any
        description: Limit result set to posts assigned one or more statuses.
      - name: tax_relation
        in: query
        required: false
        schema:
          type: string
          enum:
          - AND
          - OR
        description: Limit result set based on relationship between multiple taxonomies.
      - name: wp_pattern_category
        in: query
        required: false
        schema:
          type:
          - object
          - array
        description: Limit result set to items with specific terms assigned in the wp_pattern_category taxonomy.
      - name: wp_pattern_category_exclude
        in: query
        required: false
        schema:
          type:
          - object
          - array
        description: Limit result set to items except those with specific terms assigned in the wp_pattern_category taxonomy.
      responses:
        '200':
          description: Success. WordPress returns the requested resource or collection as JSON.
          content:
            application/json:
              schema: {}
        '401':
          description: Not authenticated or not permitted. WordPress returns its standard error envelope, e.g. `{"code":"rest_forbidden","message":"Sorry, you are not allowed to do that.","data":{"status":401}}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: post_wp_v2_blocks
      summary: POST /wp/v2/blocks
      description: '`POST` on the WordPress REST route `/wp/v2/blocks` in namespace `wp/v2`, as declared by the live route-discovery document at https://video.vice.com/wp-json/.'
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - wp_stream_enabled
                  - wp_stream_disabled
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  properties:
                    raw:
                      type: string
                  description: The title for the post.
                content:
                  type: object
                  properties:
                    raw:
                      type: string
                    block_version:
                      type: integer
                    protected:
                      type: boolean
                  description: The content for the post.
                excerpt:
                  type: object
                  properties:
                    raw:
                      type: string
                    rendered:
                      type: string
                    protected:
                      type: boolean
                  description: The excerpt for the post.
                meta:
                  type: object
                  properties:
                    byline:
                      type: object
                      default: []
                      properties:
                        profiles:
                          type: array
                          items:
                            type: object
                    wp_pattern_sync_status:
                      type: string
                      enum:
                      - partial
                      - unsynced
                      default: ''
                    footnotes:
                      type: string
                      default: ''
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the wp_pattern_category taxonomy.
      responses:
        '200':
          description: Success. WordPress returns the requested resource or collection as JSON.
          content:
            application/json:
              schema: {}
        '401':
          description: Not authenticated or not permitted. WordPress returns its standard error envelope, e.g. `{"code":"rest_forbidden","message":"Sorry, you are not allowed to do that.","data":{"status":401}}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    servers:
    - url: https://video.vice.com
      description: Production
  /wp/v2/blocks/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: Path segment matched by the WordPress route pattern `[\d]+`.
      schema:
        type: string
        pattern: '[\d]+'
    get:
      operationId: get_wp_v2_blocks_by_id
      summary: GET /wp/v2/blocks/(?P[\d]+)
      description: '`GET` on the WordPress REST route `/wp/v2/blocks/(?P[\d]+)` in namespace `wp/v2`, as declared by the live route-discovery document at https://video.vice.com/wp-json/.'
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: excerpt_length
        in: query
        required: false
        schema:
          type: integer
        description: Override the default excerpt length.
      - name: password
        in: query
        required: false
        schema:
          type: string
        description: The password for the post if it is password protected.
      responses:
        '200':
          description: Success. WordPress returns the requested resource or collection as JSON.
          content:
            application/json:
              schema: {}
        '401':
          description: Not authenticated or not permitted. WordPress returns its standard error envelope, e.g. `{"code":"rest_forbidden","message":"Sorry, you are not allowed to do that.","data":{"status":401}}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: post_wp_v2_blocks_by_id
      summary: POST /wp/v2/blocks/(?P[\d]+)
      description: '`POST` on the WordPress REST route `/wp/v2/blocks/(?P[\d]+)` in namespace `wp/v2`, as declared by the live route-discovery document at https://video.vice.com/wp-json/.'
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - wp_stream_enabled
                  - wp_stream_disabled
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  properties:
                    raw:
                      type: string
                  description: The title for the post.
                content:
                  type: object
                  properties:
                    raw:
                      type: string
                    block_version:
                      type: integer
                    protected:
                      type: boolean
                  description: The content for the post.
                excerpt:
                  type: object
                  properties:
                    raw:
                      type: string
                    rendered:
                      type: string
                    protected:
                      type: boolean
                  description: The excerpt for the post.
                meta:
                  type: object
                  properties:
                    byline:
                      type: object
                      default: []
                      properties:
                        profiles:
                          type: array
                          items:
                            type: object
                    wp_pattern_sync_status:
                      type: string
                      enum:
                      - partial
                      - unsynced
                      default: ''
                    footnotes:
                      type: string
                      default: ''
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the wp_pattern_category taxonomy.
      responses:
        '200':
          description: Success. WordPress returns the requested resource or collection as JSON.
          content:
            application/json:
              schema: {}
        '401':
          description: Not authenticated or not permitted. WordPress returns its standard error envelope, e.g. `{"code":"rest_forbidden","message":"Sorry, you are not allowed to do that.","data":{"status":401}}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    put:
      operationId: put_wp_v2_blocks_by_id
      summary: PUT /wp/v2/blocks/(?P[\d]+)
      description: '`PUT` on the WordPress REST route `/wp/v2/blocks/(?P[\d]+)` in namespace `wp/v2`, as declared by the live route-discovery document at https://video.vice.com/wp-json/.'
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - wp_stream_enabled
                  - wp_stream_disabled
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  properties:
                    raw:
                      type: string
                  description: The title for the post.
                content:
                  type: object
                  properties:
                    raw:
                      type: string
                    block_version:
                      type: integer
                    protected:
                      type: boolean
                  description: The content for the post.
                excerpt:
                  type: object
                  properties:
                    raw:
                      type: string
                    rendered:
                      type: string
                    protected:
                      type: boolean
                  description: The excerpt for the post.
                meta:
                  type: object
                  properties:
                    byline:
                      type: object
                      default: []
                      properties:
                        profiles:
                          type: array
                          items:
                            type: object
                    wp_pattern_sync_status:
                      type: string
                      enum:
                      - partial
                      - unsynced
                      default: ''
                    footnotes:
                      type: string
                      default: ''
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the wp_pattern_category taxonomy.
      responses:
        '200':
          description: Success. WordPress returns the requested resource or collection as JSON.
          content:
            application/json:
              schema: {}
        '401':
          description: Not authenticated or not permitted. WordPress returns its standard error envelope, e.g. `{"code":"rest_forbidden","message":"Sorry, you are not allowed to do that.","data":{"status":401}}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    patch:
      operationId: patch_wp_v2_blocks_by_id
      summary: PATCH /wp/v2/blocks/(?P[\d]+)
      description: '`PATCH` on the WordPress REST route `/wp/v2/blocks/(?P[\d]+)` in namespace `wp/v2`, as declared by the live route-discovery document at https://video.vice.com/wp-json/.'
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - wp_stream_enabled
                  - wp_stream_disabled
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  properties:
                    raw:
                      type: string
                  description: The title for the post.
                content:
                  type: object
                  properties:
                    raw:
                      type: string
                    block_version:
                      type: integer
                    protected:
                      type: boolean
                  description: The content for the post.
                excerpt:
                  type: object
                  properties:
                    raw:
                      type: string
                    rendered:
                      type: string
                    protected:
                      type: boolean
                  description: The excerpt for the post.
                meta:
                  type: object
                  properties:
                    byline:
                      type: object
                      default: []
                      properties:
                        profiles:
                          type: array
                          items:
                            type: object
                    wp_pattern_sync_status:
                      type: string
                      enum:
                      - partial
                      - unsynced
                      default: ''
                    footnotes:
                      type: string
                      default: ''
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the wp_pattern_category taxonomy.
      responses:
        '200':
          description: Success. WordPress returns the requested resource or collection as JSON.
          content:
            application/json:
              schema: {}
        '401':
          description: Not authenticated or not permitted. WordPress returns its standard error envelope, e.g. `{"code":"rest_forbidden","message":"Sorry, you are not allowed to do that.","data":{"status":401}}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    delete:
      operationId: delete_wp_v2_blocks_by_id
      summary: DELETE /wp/v2/blocks/(?P[\d]+)
      description: '`DELETE` on the WordPress REST route `/wp/v2/blocks/(?P[\d]+)` in namespace `wp/v2`, as declared by the live route-discovery document at https://video.vice.com/wp-json/.'
      tags:
      - wp/v2
      parameters:
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Whether to bypass Trash and force deletion.
      responses:
        '200':
          description: Success. WordPress returns the requested resource or collection as JSON.
          content:
            application/json:
              schema: {}
        '401':
          description: Not authenticated or not permitted. WordPress returns its standard error envelope, e.g. `{"code":"rest_forbidden","message":"Sorry, you are not allowed to do that.","data":{"status":401}}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    servers:
    - url: https://video.vice.com
      description: Production
  /wp/v2/blocks/{id}/autosaves:
    parameters:
    - name: id
      in: path
      required: true
      description: Path segment matched by the WordPress route pattern `[\d]+`.
      schema:
        type: string
        pattern: '[\d]+'
    get:
      operationId: get_wp_v2_blocks_by_id_autosaves
      summary: GET /wp/v2/blocks/(?P[\d]+)/autosaves
      description: '`GET` on the WordPress REST route `/wp/v2/blocks/(?P[\d]+)/autosaves` in namespace `wp/v2`, as declared by the live route-discovery document at https://video.vice.com/wp-json/.'
      tags:
      - wp/v2
      parameters:
      - name: parent
        in: query
        required: false
        schema:
          type: integer
        description: The ID for the parent of the autosave.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Success. WordPress returns the requested resource or collection as JSON.
          content:
            application/json:
              schema: {}
        '401':
          description: Not authenticated or not permitted. WordPress returns its standard error envelope, e.g. `{"code":"rest_forbidden","message":"Sorry, you are not allowed to do that.","data":{"status":401}}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: post_wp_v2_blocks_by_id_autosaves
      summary: POST /wp/v2/blocks/(?P[\d]+)/autosaves
      description: '`POST` on the WordPress REST route `/wp/v2/blocks/(?P[\d]+)/autosaves` in namespace `wp/v2`, as declared by the live route-discovery document at https://video.vice.com/wp-json/.'
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                parent:
                  type: integer
                  description: The ID for the parent of the autosave.
                date:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - wp_stream_enabled
                  - wp_stream_disabled
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  properties:
                    raw:
                      type: string
                  description: The title for the post.
                content:
                  type: object
                  properties:
                    raw:
                      type: string
                    block_version:
                      type: integer
                    protected:
                      type: boolean
                  description: The content for the post.
                excerpt:
                  type: object
                  properties:
                    raw:
                      type: string
                    rendered:
                      type: string
                    protected:
                      type: boolean
                  description: The excerpt for the post.
                meta:
                  type: object
                  properties:
                    byline:
                      type: object
                      default: []
                      properties:
                        profiles:
                          type: array
                          items:
                            type: object
                    wp_pattern_sync_status:
                      type: string
                      enum:
                      - partial
                      - unsynced
                      default: ''
                    footnotes:
                      type: string
                      default: ''
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the wp_pattern_category taxonomy.
      responses:
        '200':
          description: Success. WordPress returns the requested resource or collection as JSON.
          content:
            application/json:
              schema: {}
        '401':
          description: Not authenticated or not permitted. WordPress returns its standard error envelope, e.g. `{"code":"rest_forbidden","message":"Sorry, you are not allowed to do that.","data":{"status":401}}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    servers:
    - url: https://video.vice.com
      description: Production
  /wp/v2/blocks/{parent}/autosaves/{id}:
    parameters:
    - name: parent
      in: path
      required: true
      description: Path segment matched by the WordPress route pattern `[\d]+`.
      schema:
        type: string
        pattern: '[\d]+'
    - name: id
      in: path
      required: true
      description: Path segment matched by the WordPress route pattern `[\d]+`.
      schema:
        type: string
        pattern: '[\d]+'
    get:
      operationId: get_wp_v2_blocks_by_parent_autosaves_by_id
      summary: GET /wp/v2/blocks/(?P[\d]+)/autosaves/(?P[\d]+)
      description: '`GET` on the WordPress REST route `/wp/v2/blocks/(?P[\d]+)/autosaves/(?P[\d]+)` in namespace `wp/v2`, as declared by the live route-discovery document at https://video.vice.com/wp-json/.'
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Success. WordPress returns the requested resource or collection as JSON.
          content:
            application/json:
              schema: {}
        '401':
          description: Not authenticated or not permitted. WordPress returns its standard error envelope, e.g. `{"code":"rest_forbidden","message":"Sorry, you are not allowed to do that.","data":{"status":401}}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    servers:
    - url: https://video.vice.com
      description: Production
  /wp/v2/blocks/{parent}/revisions:
    parameters:
    - name: parent
      in: path
      required: true
      description: Path segment matched by the WordPress route pattern `[\d]+`.
      schema:
        type: string
        pattern: '[\d]+'
    get:
      operationId: get_wp_v2_blocks_by_parent_revisions
      summary: GET /wp/v2/blocks/(?P[\d]+)/revisions
      description: '`GET` on the WordPress REST route `/wp/v2/blocks/(?P[\d]+)/revisions` in namespace `wp/v2`, as declared by the live route-discovery document at https://video.vice.com/wp-json/.'
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - date
          - id
          - include
          - relevance
          - slug
          - include_slugs
          - title
          default: date
        description: Sort collection by object attribute.
      responses:
        '200':
          description: Success. WordPress returns the requested resource or collection as JSON.
          content:
            application/json:
              schema: {}
        '401':
          description: Not authenticated or not permitted. WordPress returns its standard error envelope, e.g. `{"code":"rest_forbidden","message":"Sorry, you are not allowed to do that.","data":{"status":401}}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    servers:
    - url: https://video.vice.com
      description: Production
  /wp/v2/blocks/{parent}/revisions/{id}:
    parameters:
    - name: parent
      in: path
      required: true
      description: Path segment matched by the WordPress route pattern `[\d]+`.
      schema:
        type: string
        pattern: '[\d]+'
    - name: id
      in: path
      required: true
      description: Path segment matched by the WordPress route pattern `[\d]+`.
      schema:
        type: string
        pattern: '[\d]+'
    get:
      operationId: get_wp_v2_blocks_by_parent_revisions_by_id
      summary: GET /wp/v2/blocks/(?P[\d]+)/revisions/(?P[\d]+)
      description: '`GET` on the WordPress REST route `/wp/v2/blocks/(?P[\d]+)/revisions/(?P[\d]+)` in namespace `wp/v2`, as declared by the live route-discovery document at https://video.vice.com/wp-json/.'
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Success. WordPress returns the requested resource or collection as JSON.
          content:
            application/json:
              schema: {}
        '401':
          description: Not authenticated or not permitted. WordPress returns its standard error envelope, e.g. `{"code":"rest_forbidden","message":"Sorry, you are not allowed to do that.","data":{"status":401}}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    delete:
      operationId: delete_wp_v2_blocks_by_parent_revisions_by_id
      summary: DELETE /wp/v2/blocks/(?P[\d]+)/revisions/(?P[\d]+)
      description: '`DELETE` on the WordPress REST route `/wp/v2/blocks/(?P[\d]+)/revisions/(?P[\d]+)` in namespace `wp/v2`, as declared by the live route-discovery document at https://video.vice.com/wp-json/.'
      tags:
      - wp/v2
      parameters:
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Required to be true, as revisions do not support trashing.
      responses:
        '200':
          description: Success. WordPress returns the requested resource or collection as JSON.
          content:
            application/json:
              schema: {}
        '401':
          description: Not authenticated or not permitted. WordPress returns its standard error envelope, e.g. `{"code":"rest_forbidden","message":"Sorry, you are not allowed to do that.","data":{"status":401}}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    servers:
    - url: https://video.vice.com
      description: Production
  /wp/v2/byline:
    get:
      operationId: get_wp_v2_byline
      summary: GET /wp/v2/byline
      description: '`GET` on the WordPress REST route `/wp/v2/byline` in namespace `wp/v2`, as declared by the live route-discovery document at https://video.vice.com/wp-json/.'
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
        description: Sort collection by term attribute.
      - name: hide_empty
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Whether to hide terms not assigned to any posts.
      - name: post
        in: query
        required: false
        schema:
          type: integer
          default: null
        description: Limit result set to terms assigned to a specific post.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to terms with one or more specific slugs.
      responses:
        '200':
          description: Success. WordPress returns the requested resource or collection as JSON.
          content:
            application/json:
              schema: {}
        '401':
          description: Not authenticated or not permitted. WordPress returns its standard error envelope, e.g. `{"code":"rest_forbidden","message":"Sorry, you are not allowed to do that.","data":{"status":401}}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: post_wp_v2_byline
      summary: POST /wp/v2/byline
      description: '`POST` on the WordPress REST route `/wp/v2/byline` in namespace `wp/v2`, as declared by the live route-discovery document at https://video.vice.com/wp-json/.'
      tags:
      - wp/v2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                name:
                  type: string
                  description: HTML title for the term.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
                meta:
                  type: object
                  description: Meta fields.
              required:
              - name
      responses:
        '200':
          description: Success. WordPress returns the requested resource or collection as JSON.
          content:
            application/json:
              schema: {}
        '401':
          description: Not authenticated or not permitted. WordPress returns its standard error envelope, e.g. `{"code":"rest_forbidden","message":"Sorry, you are not allowed to do that.","data":{"status":401}}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    servers:
    - url: https://video.vice.com
      description: Production
  /wp/v2/byline/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: Path segment matched by the WordPress route pattern `[\d]+`.
      schema:
        type: string
        pattern: '[\d]+'
    get:
      operationId: get_wp_v2_byline_by_id
      summary: GET /wp/v2/byline/(?P[\d]+)
      description: '`GET` on the WordPress REST route `/wp/v2/byline/(?P[\d]+)` in namespace `wp/v2`, as declared by the live route-discovery document at https://video.vice.com/wp-json/.'
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Success. WordPress returns the requested resource or collection as JSON.
          content:
            application/json:
              schema: {}
        '401':
          description: Not authenticated or not permitted. WordPress returns its standard error envelope, e.g. `{"code":"rest_forbidden","message":"Sorry, you are not allowed to do that.","data":{"status":401}}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: post_wp_v2_byline_by_id
      summary: POST /wp/v2/byline/(?P[\d]+)
      description: '`POST` on the WordPress REST route `/wp/v2/byline/(?P[\d]+)` in namespace `wp/v2`, as declared by the live route-discovery document at https://video.vice.com/wp-json/.'
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                name:
                  type: string
                  description: HTML title for the term.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
                meta:
                  type: object
                  description: Meta fields.
      responses:
        '200':
          description: Success. WordPress returns the requested resource or collection as JSON.
          content:
            application/json:
              schema: {}
        '401':
          description: Not authenticated or not permitted. WordPress returns its standard error envelope, e.g. `{"code":"rest_forbidden","message":"Sorry, you are not allowed to do that.","data":{"status":401}}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    put:
      operationId: put_wp_v2_byline_by_id
      summary: PUT /wp/v2/byline/(?P[\d]+)
      description: '`PUT` on the WordPress REST route `/wp/v2/byline/(?P[\d]+)` in namespace `wp/v2`, as declared by the live route-discovery document at https://video.vice.com/wp-json/.'
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                name:
                  type: string
                  description: HTML title for the term.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
                meta:
                  type: object
                  description: Meta fields.
      responses:
        '200':
          description: Success. WordPress returns the requested resource or collection as JSON.
          content:
            application/json:
              schema: {}
        '401':
          description: Not authenticated or not permitted. WordPress returns its standard error envelope, e.g. `{"code":"rest_forbidden","message":"Sorry, you are not allowed to do that.","data":{"status":401}}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    patch:
      operationId: patch_wp_v2_byline_by_id
      summary: PATCH /wp/v2/byline/(?P[\d]+)
      description: '`PATCH` on the WordPress REST route `/wp/v2/byline/(?P[\d]+)` in namespace `wp/v2`, as declared by the live route-discovery document at https://video.vice.com/wp-json/.'
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                name:
                  type: string
                  description: HTML title for the term.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
                meta:
                  type: object
                  description: Meta fields.
      responses:
        '200':
          description: Success. WordPress returns the requested resource or collection as JSON.
          content:
            application/json:
              schema: {}
        '401':
          description: Not authenticated or not permitted. WordPress returns its standard error envelope, e.g. `{"code":"rest_forbidden","message":"Sorry, you are not allowed to do that.","data":{"status":401}}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    delete:
      operationId: delete_wp_v2_byline_by_id
      summary: DELETE /wp/v2/byline/(?P[\d]+)
      description: '`DELETE` on the WordPress REST route `/wp/v2/byline/(?P[\d]+)` in namespace `wp/v2`, as declared by the live route-discovery document at https://video.vice.com/wp-json/.'
      tags:
      - wp/v2
      parameters:
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Required to be true, as terms do not support trashing.
      responses:
        '200':
          description: Success. WordPress returns the requested resource or collection as JSON.
          content:
            application/json:
              schema: {}
        '401':
          description: Not authenticated or not permitted. WordPress returns its standard error envelope, e.g. `{"code":"rest_forbidden","message":"Sorry, you are not allowed to do that.","data":{"status":401}}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    servers:
    - url: https://video.vice.com
      description: Production
[...]
